
.restaurants-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: auto;
  height: 100%;
}


.restaurant-overview {
  align-items: center;
  background-color: white;
  border: 1px solid #0072BB;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 5px;
  width: 33%;
  height: auto;
}

.details-btn {
  border: 1px solid #0072BB;
  border-radius: 3px;
  color: #0072BB;
  cursor: pointer;
  font-family: 'Fira Sans', sans-serif;
  padding: 5px;
  text-decoration: none;
}

.details-btn:hover {
  background-color: #0072BB;
  color: white;
}

@media only screen and (max-width: 600px) {
  .restaurants-container {
    flex-direction: column;
    align-items: center;
  }

  .restaurant-overview {
    width: 80%;
  }
}